<%= render partial: "templates/header"%>

<div class="registrations-wrapper">
  <div class="registrations-container">
    <%= form_with(model: @user, url: user_registration_path, local: true, class: "uk-form-horizontal uk-position-center") do |f| %>
      <div class="registrations-fields">
        <%# <div class="regist-main"> %>
          <h2>Sign up</h2>  
          <%= render "devise/shared/error_messages", resource: @user %>
          <div class="field">
            <%= f.label :nickname, class:"uk-form-label" %>
            <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class:"uk-form-controls" %>
          </div>

          <div class="field">
            <%= f.label :email, class:"uk-form-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"uk-form-controls" %>
          </div>

          <div class="field">
            <%= f.label :password, class:"uk-form-label" %>
            <% if @minimum_password_length %>
            <br><em class="regist-fields">(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class:"uk-form-controls" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class:"uk-form-label" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"uk-form-controls" %>
          </div>
        <%# </div> %>

        <%# <div class="regist-sub"> %>
          <div class="field">
            <%= f.label :prefecture_id, class:"uk-form-label" %>
            <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {autofocus: true, autocomplete: "prefecture", class:"uk-form-controls"}) %>
          </div>

          <div class="field">
            <%= f.label :works, class:"uk-form-label" %>
            <%= f.text_field :works, autofocus: true, autocomplete: "works", class:"uk-form-controls" %>
          </div>

          <div class="field genre-field" id="genre">
            <%= f.label :genre_id, "ジャンル", class:"uk-form-label" %>
            <%= select_tag("category", options_from_collection_for_select(Category.all, :id, :name), class:"uk-form-controls") %>
          </div>

          <div class="field">
            <%= f.label :likes_author, class:"uk-form-label" %>
            <%= f.text_field :likes_author, autofocus: true, autocomplete: "likes_author", class:"uk-form-controls" %>
          </div>

          <div class="field">
            <%= f.label :likes_book, class:"uk-form-label" %>
            <%= f.text_field :likes_book, autofocus: true, autocomplete: "likes_book", class:"uk-form-controls" %>
          </div>

        </div>
      <%# </div> %>
      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
  </div>
</div>