<%= form_with model: @book, local: true do |f| %>
  <%= f.hidden_field :image, value: @set_image %>
  <%= f.hidden_field :url, value: @set_url %>
  <div class="output-contents">
    <%= f.label :title, "タイトル", class:"output-labels"%>
      <span><%= @set_title %></span>
      <%= f.text_field :title, value: @set_title, hidden: true %>
  </div>
  <div class="output-contents">
    <%= f.label :author, "著者", class:"output-labels"%>
      <span><%= @set_author %></span>
      <%= f.text_field :author, value: @set_author , hidden: true %>
  </div>
  <div class="output-contents">
    <%= f.label :genre_id, "ジャンル", class:"output-labels" %>
    <%= select_tag("category", options_from_collection_for_select(Category.all, :id, :name)) %>
    <%= f.select(:genre_id, options_for_select(Genre.call(7).map{ |q| [q[:name], q[:id]] }) )%>
  </div>
  <div class="output-contents">
    <%= f.label :lead, "投稿タイトル", class:"output-labels" %>
    <%= f.text_field :lead, placeholder: "30文字以内で入力してください" %>
  </div>
  <div class="output-contents output-texts">
    <%= f.label :content, "Output", class:"output-labels output-text-label" %>
    <%= f.text_area :content, class:"output-textarea", placeholder:"1000文字以内で入力してください"%>
  </div>
  <div class="output-contents">
    <%= f.label :rank_id, "おすすめ度", class: "output-labels" %>
    <%= f.collection_select(:rank_id, Rank.all, :id, :name, {} ) %>
  </div>
  <div class="output-contents">
    <%= f.label :public, "公開設定", class: "output-labels" %>
    <%= f.radio_button :publish, "public", checked: true %>
    <%= label_tag :publish, "公開" %>
    <%= f.radio_button :publish, "private" %>
    <%= label_tag :publish, "非公開" %>
  </div>
  <div class="output-submit">
    <%= f.submit "Outputする", class: "output-submit-btn" %>
  </div>
<% end %>
