<header>
  <div class="header-container">
    <div class="header-left">
    <%= link_to root_path do%>
      <h1 class="app-name" style="font-family: 'Nothing You Could Do', cursive; font-size: 48px">TmyRB</h1>
    <% end %>
      <%# <div class="header-contents">
        <form>
          <input type="text" class="search-box" placeholder="検索する" name="hoge">
          <input type="submit" class="search-btn" value="検索">
          <button class="search-btn">詳細検索</button>
        </form>
      </div> %>
    </div>
    <div class="header-right">
    
      <ul class="sign-btns">
      <% if user_signed_in? %>
        <li class="sign-btns-left">
          <%= button_to(current_user.nickname, edit_user_path(@user.id), method: :get, class: "uk-button uk-button-default") %>
        </li>
        <li class="sign-btns-right">
          <%= button_to("ログアウト", destroy_user_session_path, method: :delete, class: "uk-button uk-button-default") %>
        </li>
      <% else %>
        <li class="sign-btns-left">
          <%= button_to("新規登録", new_user_registration_path, method: :get, class: "uk-button uk-button-default") %>
        </li>
        <li class="sign-btns-right">
          <%= button_to("ログイン", new_user_session_path, method: :get, class: "uk-button uk-button-default") %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</header>