<div class="user-contents">
  <div class="user-info">
    <%= image_tag("izumin-sample.jpg", size: "150x120")%>
    <p><%= @user.nickname %></p>
  </div>
  <div class="user-menu">
    <ul>
      <li class="user-menu-lists">フォロー / フォロワー</li>
      <li class="user-menu-lists">
        <span uk-icon="user"></span><%= link_to("プロフィール編集する", edit_user_path(@user.id)) %></li>
      <li class="user-menu-lists"><span uk-icon="pencil"></span><%= link_to("Outputする", new_book_path) %></li>
      
      <%# 現在地が「トップページなら投稿一覧ページに遷移」「投稿一覧ページならトップページに遷移」を分岐 %>
      <% if current_page?(root_path)%>
        <li class="user-menu-lists"><span uk-icon="folder"></span><%= link_to("自分の投稿を確認する", user_path(@user.id)) %></li>
      <% elsif current_page?(user_path(@user.id))%>
        <li class="user-menu-lists"><%= link_to("トップページに戻る", root_path) %></li>
      <% end %>
    </ul>
  </div>
</div>