<%= render partial: "books/header"%>

<main>
  <div class="main-container">
    <% if user_signed_in? %>
      <%= render partial: "user_contents"%>
    <% end %>
    <div class="main-contents">
    <h2 class="main-contents-header">投稿一覧</h2> 
    <div class="contents">
    <div class="my-books">
          <% @books.each do |b| %>
            <%= link_to(book_path(b.id)) do %>
              <div class="book-blocks">
                <div class="book-image">
                  <%= image_tag(b.image, size:"70x90") %>
                </div>
                <div class="info-box">
                  <div class="book-info">
                    <p><%= b.title %></p>
                    <p><%= b.author %></p>
                    <p><%= b.lead %><p>
                  </div>
                </div>
                <div class="other-book-timestamp">
                  <p><%= l b.created_at %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</main> 