<%= render partial: "templates/header"%>

<main>
  <div class="main-container">
    <%# メイン左窓、ユーザー関連情報の一覧 %>
  <div class="show-user-card">
    <div class="uk-card uk-card-default">
      <div class="uk-card-media-top">
        <%= image_tag("izumin-sample.jpg", size: "400x220")%>
      </div>
      <div class="uk-card-body">
        <h4 class="uk-card-title">名前</h4>
        <% @user.nickname.present?%>
          <p><%= @user.nickname %></p>
        <% else %>
          <p>---</p>
        <%end%>
      <%# 入力必須ではない項目については、該当データがなければ "---" を出力 %>
        <h4 class="uk-card-title">都道府県</h4>
          <% if @user.prefecture_id.present? %>
            <p><%= Prefecture.find(@user.prefecture_id).name%></p>
          <%else%>
            <p>---</p>
          <% end %>
        <h4 class="uk-card-title">職業</h4>
          <% if @user.works.present? %>
            <p><%= @user.works %></p>
          <%else%>
            <p>---</p>
          <% end %>
        <h4 class="uk-card-title">好きなジャンル</h4>
          <% if @genre.kind_of?(Hash) %>
            <p><%= @genre[:name] %></p>
          <% else %>
            <p>---</p>
          <% end %>
        <h4 class="uk-card-title">好きな著者</h4>
          <% if @user.likes_author.present? %>
            <p><%= @user.likes_author%></p>
          <%else%>
            <p>---</p>
          <% end %>
        <h4 class="uk-card-title">好きな本</h4>
          <% if @user.likes_book.present? %>
            <p><%= @user.likes_book%></p>
          <%else%>
            <p>---</p>
          <% end %>
      </div>
    </div>
  </div>
    <%# メイン中央 投稿情報の一覧 %>
    <div class="main-contents show-contents">
      <div class="uk-child-width-1-3 uk-text-center uk-grid-small other-books-grid" uk-grid>
        <%= render partial: "templates/other_books", collection: @books, as: :b %>
      </div>
    </div>
    <%# メイン右 チャートの出力 %>
    <div class="chart-container">
      <h2 class="chart-container-header"><%= "#{@user.nickname}のジャンル傾向"%></h2>
      <div class="chart">
        <%= pie_chart(@pie)%>
      </div>
    </div>
  </div>
</main> 