<%= render partial: "templates/header"%>

<main>
  <div class="main-container">
    <%# メイン左窓、ユーザー関連情報の一覧 %>
    <div>
      <%= render partial: "templates/user_contents"%>
    </div>
    <%# メイン中央〜右、投稿情報の一覧 %>
    <div class="main-contents">
      <div class="uk-child-width-1-4 uk-text-center uk-grid-small other-books-grid" uk-grid>
        <%= render partial: "templates/other_books", collection: @books, as: :b %>
      </div>
    </div>

    <div class="chart-container">
      <h2 class="chart-container-header"><%= "#{@user.nickname}のジャンル傾向"%></h2>
      <div class="chart">
        <%= pie_chart(@pie)%>
      </div>
    </div>
  </div>
</main> 