<%= render partial: "templates/header"%>

<main>
  <div class="main-container">
    <% if user_signed_in? %>
      <%= render partial: "templates/user_contents"%>
    <% end %>
    <div class="main-contents">
    <h2 class="main-contents-header">投稿一覧</h2> 
    <div class="contents">
      <div class="tabbed-content clearfix">
        <!--Tabbed navigation-->
        <ul class="tabs">
          <li data-id="1" class="tab-link current" data-tab="text-tab" data-text="9999">Text</li>
          <li data-id="2" class="tab-link" data-tab="video-tab" data-text=<%= @genre[:id]%>><%= @genre[:name] %></li>
          <li data-id="3" class="tab-link" data-tab="audio-tab">Audio</li>
        </ul>
        <!--Wrapper to contain interchanging content-->
        <div class="tabs-wrapper">
            <!--textual tab content-->
          <div id="text-tab" class="tab-content current">
            <div class="other-books">
              <%= render partial: "templates/other_books", collection: @books, as: :b %>
            </div>
          </div> 
          <!--video tab content-->
          <div id="video-tab" class="tab-content">
            <div class="other-books">
            </div>
          </div>
          <!--audio tab content-->
          <div id="audio-tab" class="tab-content">
            <div class="other-books">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> 