<%= render partial: "header" %>
<div class="search-wrapper">
  <div class="search-container">
    <% @items.first(10).each do |item| %>
        <div class="search-blocks">
          <div class="radio">
            <input type="radio">
          </div>
          <div class="search-image">
            <%= link_to("#{item['largeImageUrl']}") do %>
              <%= image_tag("#{item['largeImageUrl']}", size: "70x90")%>
            <% end %>
          </div>
          <div class="search-contens">
            <p><%= "タイトル: #{item['title'][0, 34]}" %></p>
            <p><%= "著者: #{item['author']}" %></p>
            <p><%= "出版社: #{item['publisherName']} / 発刊日: #{item['salesDate']}"%></p>
          </div>
        </div>
      <% end %>
  </div>
</div>