<%= render partial: "templates/header"%>
<main>
  <div class="output-wrapper">
    <div class="output-info-container">
      <h2>書籍情報</h2>
      <table>
      <tr>
        <td>タイトル</td>
        <td><%= @book.title%></td>
      </tr>
      <tr>
        <td>著者</td>
        <td><%= @book.author%></td>
      </tr>
      <tr>
        <td>ジャンル</td>
        <td><%= @book.genre.name%></td>
      </tr>
      <tr>
        <td>リード文</td>
        <td><%= @book.lead%></td>
      </tr>
      <tr>
        <td>アウトプット</td>
        <td><%= safe_join(@book.content.split("\r\n"), tag(:br))%></td>
      </tr>
      <tr>
        <td>おすすめ度</td>
        <td><%= @book.rank.name%></td>
      </tr>
      <% if @book.user_id == current_user.id %>
      <tr>
      <%# 閲覧者が投稿者と同じIDなら「公開設定」が表示され、異なる場合は「投稿者名」が表示される %>
        <td>公開設定</td>
        <td><%= @book.publish%></td>
      </tr>
      <% else %>
      <tr>
        <td>投稿者名</td>
        <td><%= @book.user.nickname%></td>
      </tr>
      <% end %>
      </table>
      
      <%# 閲覧者が投稿者と同じIDなら「編集」「削除」ボタンを表示し、異なる場合は「戻る」ボタンを表示する %>
      <% if @book.user_id == current_user.id %>
        <ul>
          <li>
            <%= button_to("編集", edit_book_path(id: @book.id))%>
          </li>
          <li>
            <%= link_to(book_path(id: @book.id), method: :delete,
                data:{ title: '警告' ,confirm: '本当に削除しますか？'}) do %>
              <%= button_tag("削除")%>
            <% end %>
          </li>
          <li>
            <%= button_to("戻る", root_path, method: :get)%>
          </li>
        <% else %>
          <ul>
            <li>
              <%= link_to @book.url, data:{ title: '警告', confirm: '外部サイト（楽天ブックス）に移動しますがよろしいですか？'} do %>
                <%= button_tag("この本を購入する") %>
              <% end %>
            </li>
            <li>
              <%= button_to("戻る", root_path, method: :get)%>
            </li>
          </ul>
          
        <% end %>
    </div>
  </div>
</main>