<%= render partial:"header"%>
<main>
  <div class="output-wrapper">
    <div class="output-info-container">
      <h2>書籍情報</h2>
      <div class="output-contents">
          <%= "タイトル： #{@book.title}" %>
      </div>
      <div class="output-contents">
          <%= "著者： #{@book.author}" %>
      </div>
      <div class="output-contents">
        <%= "ジャンル： #{@book.genre.name}"%>
      </div>
      <div class="output-contents">
        <%= "リード文： #{@book.lead}"%>
      </div>
      <div class="output-contents output-texts">
        <%= "アウトプット内容： #{@book.content}"%>
      </div>
      <div class="output-contents">
        <%= "おすすめ度： #{@book.rank_id}"%>
      </div>
      <div class="output-contents">
        <%= "公開設定： #{@book.publish}"%>
      </div>
      <ul>
        <li>
          <%= link_to(edit_book_path(id: @book.id)) do%>
            <%= button_tag("編集")%>
          <% end %>
        </li>
        <li>
        <%= link_to(book_path(id: @book.id), method: :delete,
            data:{ title: '警告' ,confirm: '本当に削除しますか？', commit: "OK", cancel: "cancel" }) do %>
          <%= button_tag("削除")%>
        <% end %>
    </div>
  </div>
</main>